<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>tenés cuotas sin interés con tarjeta o efectivo en puntos de pago</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>nuestros diseñadores...</h2>
                    <li>
                        <ul>Pedro Alvarez</ul>
                        <ul>Matias Roccia</ul>
                        <ul>Lorenzo Anino</ul>
                    </li>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>¿No te gusta? ¡Devolvelo! no hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                </article>
            </div>
        </div>
    </div>
</footer>