<%- include('../views/partials/head') %>
<body>
	<%- include('../views/partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/my-handling-form-page" method="post">
				<ul>
				 <li>
				   <label for="mail">Correo electrónico:</label>
				   <input type="email" id="mail" name="user_mail">
				 </li>
				 <li>
					<label for="contrasenia">contrasenia:</label>
					<input type="text" id="contrasenia" name="user_password">
				  </li>
				  <li class="button">
					<button type="submit">Envíe su mensaje</button>
				  </li>
				</ul>
			   </form>
	<%- include('../views/partials/footer') %>
</body>

</html>