<%- include('../views/partials/head') %>
<body>
	<%- include('../views/partials/header') %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/users/login" method="post">
				<input class="form-input" type="email" name="mail" placeholder="Email">
				<input class="form-input" type="password" name="contrasenia" placeholder="Contraseña">
				<label class="form-label" > <input class="form-input" type="checkbox" name="Recordarme" placeholder="Recordarme"> Recordarme </label>
				<label class="form-label"> <input class="form-input" type="submit" value="Iniciar sesión" name="Ingresar" placeholder="Ingresar"> Ingresar </label>
			</form>
			
	<%- include('../views/partials/footer') %>
</body>

</html>