<%- include('../views/partials/head') %>
<body>
	<% if(locals.user != null) { %>
        <%- include('../views/partials/headerLogueado.ejs') %>
    <% } else { %>
        <%- include('../views/partials/header.ejs') %>
    <% } %>
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">
			</h2>
			<form  action="" method="post">
                <ul>
                    <li><input class="form-input" type="file" name="ImagenProducto" id="" placeholder="Imagen de producto"></li>
                    <li><input class="form-input" type="text" name="NombreProducto" id="" placeholder="Nombre del producto"></li>
                    <li><input class="form-input" type="text" name="DescripcionProducto" id="" placeholder="Descripcion" ></li>
                    <li><input class="form-input" type="datetime" name="FechaCargaProducto" id="" placeholder="Fecha de carga" ></li>
                    <li><button class="form-label" type="submit">Agregar Producto</button></li>
                </ul>
            </form>

	<%- include('../views/partials/footer') %>
</body>

</html>