<%- include('../views/partials/head') %>

<body>
	<%- include('../views/partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/login" method="get">
				<input class="form-input" type="email" name="email" placeholder="Email">
				<input class="form-input" type="text" name="Nombre de usuario" placeholder="Nombre de usuario">
				<input class="form-input" type="password" name="contraseña" placeholder="Contraseña">
				<label class="form-label"> <input class="form-input" type="date" name="Fecha de nacimiento"> Fecha de Nacimiento</label>
				<input class="form-input" type="number" name="Documento" placeholder="Número de documento">
				<label class="form-label"> <input class="form-input" type="text" name="Foto de perfil"> Foto de perfil </label>
				<label class="form-label"> <button class="form-label" type="submit">Ingresar</button></label>
			</form>	
	<%- include('../views/partials/footer') %>
	
</body>

</html>