<%- include('../views/partials/head') %>

<body>
	<%- include('../views/partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="/my-handling-form-page" method="post">
				<ul>
				 <li>
				   <label for="name">Nombre:</label>
				   <input type="text" id="name" name="user_name">
				 </li>
				 <li>
				   <label for="mail">Correo electrónico:</label>
				   <input type="email" id="mail" name="user_mail">
				 </li>
				 <li>
				   <label for="DNI">DNI:</label>
				   <input type="text" id="DNI" name="user_DNI">
				 </li>
				 <li>
					<label for="contrasenia">contrasenia:</label>
					<input type="text" id="contrasenia" name="user_password">
				  </li>
				  <li>
					<label for="repetir-contrasenia">repetir contrasenia:</label>
					<input type="text" id="repetir-contrasenia" name="user_password-again">
				  </li>
				  <li class="button">
					<button type="submit">Envíe su mensaje</button>
				  </li>
				</ul>
			   </form>
			


	
	<%- include('../views/partials/footer') %>
	
</body>

</html>